:root {
	--main-white-color: #fff;
	--main-body-color: #f2f2f2;
	--main-text-color: #111517;
}

.allWrapper {
	background-color: var(--main-body-color) !important;
}

.dark {
	background-color: #202c36;
	--main-white-color: #2b3844;
	--main-body-color: #202c36;
	--main-text-color: #fff;
}
